includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    parseModelCastsMethod: true
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
